.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 1m;

}

.Navbar ul {
    display: flex;
    list-style: none;
    align-items: center;

}

.Navbar li{
    margin: 10px;
}
.Navbar a{
    color: aliceblue !important;
}