.btn{
    background-color: transparent;
    border: 2px solid aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    color: #74FAC0;
    border-color: #74FAC0;
}
.btn:hover{
    color: aliceblue;
    background-color: black;
    transform:translateY(-7px);
    transition-duration:0.5s;
}